@media all and (max-width: 1600px) and (min-width: 1025px) {
  .navigation {
    height: 60px;
    background: #CB4133;
    color: #fff;
  }
  #logo {
    font-family: Open Sans;
    font-weight: 900;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    margin-right: 10px;
  }
}